---
sidebar_position: 2
---

# Email Verification

The Email Verification page serves as a checkpoint for users new to Surf, making sure that their inputted email addresses
are theirs, and providing a straightforward way of validating users. Once you have entered your email in the provided fields, check for an official Surf Email in your Main or Spam folders. Once there, click the link to complete verification.

Once complete, you will be directed to enter your date of birth.

Note: If you signed in with Google or Apple, you will be skipping this step.