.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 996px) {
  .features {
    flex-direction: column;
  }
}
